@{
    ViewBag.Title = "Home Page";
}



</main>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Top Technology Categories</h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Product")">
                        <img src="https://c1.neweggimages.com/ProductImageCompressAll1280/1TS-000E-18JS3-V01.jpg" alt="laptops">
                        <h3>Laptops</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Product")">
                        <img src="https://m.media-amazon.com/images/I/71tQ3DJhU4L._AC_SX569_.jpg" alt="smartphones">
                        <h3>Smartphones</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index", "Product")">
                        <img src="https://i1.wp.com/www.n1t1.com/wp-content/uploads/2018/04/Speaker-1.jpg?resize=650%2C365" alt="gadgets">
                        <h3>Gadgets</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

